.background{
    background-image: url("../pizza.png");
    height: 346px;
    width: auto;
    background-repeat: no-repeat;
    border-radius: 6px;
}
h1{
    background-color: #c1c1c190;
    text-align: center;
    color: white;
}